# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environnement virtuel
venv/
ENV/

# Fichiers Flask
instance/
.webassets-cache

# Fichiers de cache
.cache/
.pytest_cache/
.coverage
htmlcov/

# Fichiers système
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
.env.local
.env.development.local
.env.test.local
.env.production.local

# Fichiers d'éditeur
.idea/
.vscode/
*.swp
*.swo
